.CardDetail {
  .CardAttribute.collectible,
  .CardAttribute.elite {
    display: none;
  }

  &.hero {
    .CardAttribute.attack,
    .CardAttribute.durability,
    .CardAttribute.health,
    .CardAttribute.race {
      display: none;
    }
  }

  &.minion {
    .CardAttribute.armor,
    .CardAttribute.durability {
      display: none;
    }
  }

  &.spell {
    .CardAttribute.armor,
    .CardAttribute.attack,
    .CardAttribute.durability,
    .CardAttribute.health,
    .CardAttribute.race {
      display: none;
    }
  }

  &.weapon {
    .CardAttribute.armor,
    .CardAttribute.health,
    .CardAttribute.race {
      display: none;
    }
  }
}
